.video__iframes {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 1050px;
  display: flex;
  justify-content: space-between;
  position: relative;
  transform: translateY(40px);
}
