.feynman {
  background-color: #F2F2F2;
  border: red 1px solid;
  padding-top: 100px;
  height: 890px;
  background-image: url("/images/feinman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}
