.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #F2F2F2;
  position: relative;
  /* выше установили ограничения для секции */
}
