.kaufman__triangle {
  position: absolute;
  background: url(../../../images/triangle.svg) no-repeat center;
  background-size: contain;
  right: -210px;
  top: 0;
  z-index: 2;
  animation: rotation 20s linear infinite;
  width: 995px;
  height: 1006px;
}
